language: python
matrix:
  fast_finish: true
  include:
    - python: '3.5'
      env: TOXENV=py35
    - python: '3.6'
      env: TOXENV=py36
    - python: '3.7'
      env: TOXENV=py37
    - python: '3.8'
      env: TOXENV=lint
install: pip install -U tox-travis coveralls
script: tox
cache: pip
after_success: coveralls
deploy:
  provider: pypi
  user: Limych
  password:
    secure: dE6KZG616TsPqE2/5Q/0S9LQOotTwpYRwEuVPhFzgGsyIlJvckgJTW5HcVFIH9RhKeqf/Jtn9KBn7dDgrzspOtuVTkXf9h0QE9VWmwqRCj8b3P2XbJVeL9SPk8cVcLGMr/1Ho5Kw6EY/QbwXaJFTthAVYgeU7lk0K+bs1S4R452QgAMadlXIgw9qwyEIndAfQofDHKA1LVlZNvoHb6Z/DQTO56qswlba2ZDpnlQLS0n0BsrGMFJoKwA8Z4vD0K5C/jpsj2jKlBL2RyqmkRD7cp+lMowCmOlOQ4c1/iDU2m136JAhPj0QyQ3Nq9ngg138h7kNXIgToscGfOlpDNVfeG8i6IVRTfPwmPvSwaL6KccPA6pMAiiXSdqSh0sa35mUYAsUwWyuKMXdHdXpNFuOme1D8zLoBo1JN3g3sOcgYOHUqv2/HYNzCkOQPburbrnUaAKIgbR/RjDGp2c41KrDNHPps7E5X/RQy+4c8T/6T1PedhUCPFhndRor3LSMsPV8/bhfOkjTJ1HiRD9uOJQeDJ60v+21wU52J5JgacFbOi2xnw/eNR5rLcVNDFIRMEBxS1ZTgc2mwf3pe5WpR2UmoBfG1PEqTKJ+mnQUVqpKJJLguehssn1uZzkcUbDBs6o4SJ9yP1oFuFOQoDFBcVeIq7Obz2OpFFtnWp7o5+g+wr8=
  on:
    branch: master
  skip_existing: true
