-r requirements.txt
coveralls~=3.3
mock~=5.1
mypy>=1.4
pylint>=2.17
pylint-strict-informational==0.1
pytest~=7.4
pytest-asyncio~=0.21
pytest-cov~=4.0
requests-mock~=1.10
flake8-docstrings~=1.7
flake8>=5.0
