-r requirements.txt
coveralls~=3.3
mock~=5.1
mypy~=1.6
pylint~=3.0
pylint-strict-informational==0.1
pytest~=7.1
pytest-asyncio~=0.21
pytest-cov~=4.1
requests-mock~=1.10
flake8-docstrings~=1.7
flake8~=6.1
