-r requirements.txt
coveralls~=3.3
mock~=4.0
mypy==0.981
pre-commit~=2.20
pylint~=2.15
pylint-strict-informational==0.1
pytest~=7.1
pytest-asyncio~=0.19
pytest-cov~=4.0
requests-mock~=1.10
flake8-docstrings~=1.6
flake8~=5.0
